{erl_opts, [debug_info]}.
{deps, [
    {cowboy, "2.9.0"}
  %, {util, {git, "https://github.com/saleyn/util.git", {branch, "master"}}}
]}.

{post_hooks, [{clean, "rm -fr _build ebin priv erl_crash.dump"}]}.

{relx, [
  {release,
    {erws, "0.1"},
    [
      {sasl,    none},
      {runtime_tools,none},
      erws
    ]
  },
  {include_erts, false},
  {include_src,  false},    %% Don't include application source files
  {system_libs,  false},    %% Don't include system libs

  {extended_start_script, true},

  {dev_mode, true},

  {sys_config_src, "etc/sys.config"}
  %{vm_args_src,    "etc/vm.args"},

]}.
